@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">לוח בקרה של השרת</h1>
    <p>לחץ למטה בשביל להתחיל את השרת ( כאשר אתה לוחץ למטה אתה מפעיל את השרת אצל אלעד במחשב אז עליך לחכות 20 שניות עד שהשרת נדלק)</p>

    <form method="post" action="/Home/StartServer">
        <button type="submit" class="btn btn-primary">התחל את השרת</button>
    </form>
</div>
